* {
    box-sizing: border-box;
}

body {
    background-color: rgb(54, 238, 248);
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(226, 152, 55);
    border-radius: 10px;
    box-shadow: 10px 20px 25px rgb(0, 10, 10);
    overflow: hidden;
    max-width: 100%;
    width: 350px;
    /* opacity: 0.5;*/
}


/* .head {
    border-bottom: 1px solid white;
    background-color: #ec7f25;
    padding: 20px 40px;
} */


/* .head h2 {
    margin: 0;
    text-align: center;
} */

.bouncing-text {
    position: relative;
    display: flex;
    font-size: 70px;
    font-weight: 900;
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
}

.b,
.o,
.u,
.n,
.c,
.e {
    position: relative;
    color: #db1f12;
    text-shadow: 0 3px #0f0f0f, 0 5px #171718, 0 7px #0a0a0a;
}

.b {
    animation: bounce 1s ease infinite;
    -webkit-animation: bounce 1s ease infinite;
}

.o {
    animation: bounce 1s ease infinite .1s;
    -webkit-animation: bounce 1s ease infinite .1s;
}

.u {
    animation: bounce 1s ease infinite .2s;
    -webkit-animation: bounce 1s ease infinite .2s;
}

.n {
    animation: bounce 1s ease infinite .3s;
    -webkit-animation: bounce 1s ease infinite .3s;
}

.c {
    animation: bounce 1s ease infinite .4s;
    -webkit-animation: bounce 1s ease infinite .4s;
}

.e {
    animation: bounce 1s ease infinite .5s;
    -webkit-animation: bounce 1s ease infinite .5s;
}

@keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-55px);
    }
    50% {
        transform: scale(1.05, .95) translateY(0);
    }
    58% {
        transform: scale(1, 1) translateY(-7px);
    }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

@-webkit-keyframes bounce {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, .9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-55px);
    }
    50% {
        transform: scale(1.05, .95) translateY(0);
    }
    58% {
        transform: scale(1, 1) translateY(-7px);
    }
    65% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}

.bouncing-text:before,
.bouncing-text:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 5px;
    border-radius: 50%;
    top: 82px;
    z-index: -1;
}

.shadow,
.shadow-two {
    position: absolute;
    top: 82px;
    z-index: -1;
}

.shadow:before,
.shadow:after,
.shadow-two:before,
.shadow-two:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 50px;
    height: 5px;
    border-radius: 50%;
    top: 0;
}

.bouncing-text:before {
    left: 0;
    animation: scale 1s linear infinite;
    -webkit-animation: scale 1s linear infinite;
}

@keyframes scale {
    0% {
        transform: scaleX(1);
    }
    25% {
        transform: scaleX(0.4);
    }
    50% {
        transform: scaleX(1);
    }
    75% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

@-webkit-keyframes scale {
    0% {
        transform: scaleX(1);
    }
    25% {
        transform: scaleX(0.4);
    }
    50% {
        transform: scaleX(1);
    }
    75% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

.bouncing-text:after {
    left: 57px;
    animation: scale 1s linear infinite .1s;
    -webkit-animation: scale 1s linear infinite .1s;
}

.shadow:before {
    left: 116px;
    animation: scale 1s linear infinite .2s;
    -webkit-animation: scale 1s linear infinite .2s;
}

.shadow:after {
    left: 175px;
    animation: scale 1s linear infinite .3s;
    -webkit-animation: scale 1s linear infinite .3s;
}

.shadow-two:before {
    left: 232px;
    animation: scale 1s linear infinite .4s;
    -webkit-animation: scale 1s linear infinite .4s;
}

.shadow-two:after {
    left: 285px;
    animation: scale 1s linear infinite .5s;
    -webkit-animation: scale 1s linear infinite .5s;
}

.form {
    padding: 30px 40px;
}

.input-control {
    display: flex;
    flex-direction: column;
}

.input-control input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}

.input-control.error input {
    border-color: #ff3860;
}

.input-control .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.form button {
    font-family: serif;
    background-color: rgb(218, 121, 32);
    border: none;
    color: black;
    display: block;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}